<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">FTSE100 Anomaly Detection System</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
				<li><a href="/alerts">Alerts</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sectors <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/Basic Materials">Basic Materials</a></li>
						<li><a href="/Consumer Goods ">Consumer Goods </a></li>
						<li><a href="/Financial">Financial</a></li>
						<li><a href="/Healthcare">Healthcare</a></li>
						<li><a href="/Industrial Goods">Industrial Goods</a></li>
						<li><a href="/Other">Other</a></li>
						<li><a href="/Services">Services</a></li>
						<li><a href="/Technology">Technology</a></li>
						<li><a href="/Utilities">Utilities</a></li>

					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input id="searchbox" type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<script>
	console.log("{{ celerystatus }}");
	$( "#searchbox" ).autocomplete({
		select: function(event, ui) {
			event.preventDefault();
			window.location.replace("/" + ui.item.value);
		},
		source: [{label: "RRS.L", value: "Basic Materials/RRS.L"}, 
				{label: "ITV.L", value: "Services/ITV.L"}, 
				{label: "DC.L", value: "Consumer Goods/DC.L"}, 
				{label: "PSN.L", value: "Industrial Goods/PSN.L"}, 
				{label: "AHT.L", value: "Services/AHT.L"}, 
				{label: "PRU.L", value: "Financial/PRU.L"}, 
				{label: "EZJ.L", value: "Services/EZJ.L"}, 
				{label: "CNA.L", value: "Utilities/CNA.L"}, 
				{label: "DLG.L", value: "Financial/DLG.L"}, 
				{label: "SHP.L", value: "Healthcare/SHP.L"}, 
				{label: "AAL.L", value: "Basic Materials/AAL.L"}, 
				{label: "III.L", value: "Financial/III.L"}, 
				{label: "RDSA.L", value: "Basic Materials/RDSA.L"}, 
				{label: "PPB.L", value: "Other/PPB.L"}, 
				{label: "BDEV.L", value: "Industrial Goods/BDEV.L"}, 
				{label: "BRBY.L", value: "Consumer Goods/BRBY.L"}, 
				{label: "HSBA.L", value: "Financial/HSBA.L"}, 
				{label: "ULVR.L", value: "Consumer Goods/ULVR.L"}, 
				{label: "MNDI.L", value: "Consumer Goods/MNDI.L"}, 
				{label: "JMAT.L", value: "Basic Materials/JMAT.L"}, 
				{label: "ADM.L", value: "Financial/ADM.L"}, 
				{label: "GKN.L", value: "Consumer Goods/GKN.L"}, 
				{label: "SKY.L", value: "Other/SKY.L"}, 
				{label: "IAG.L", value: "Services/IAG.L"}, 
				{label: "NG.L", value: "Utilities/NG.L"}, 
				{label: "STJ.L", value: "Financial/STJ.L"}, 
				{label: "SSE.L", value: "Utilities/SSE.L"}, 
				{label: "ITRK.L", value: "Services/ITRK.L"}, 
				{label: "WPP.L", value: "Services/WPP.L"}, 
				{label: "CRH.L", value: "Industrial Goods/CRH.L"}, 
				{label: "SL.L", value: "Financial/SL.L"}, 
				{label: "FRES.L", value: "Basic Materials/FRES.L"}, 
				{label: "LSE.L", value: "Financial/LSE.L"}, 
				{label: "SDR.L", value: "Financial/SDR.L"}, 
				{label: "SVT.L", value: "Utilities/SVT.L"}, 
				{label: "RSA.L", value: "Financial/RSA.L"}, 
				{label: "RDSB.L", value: "Basic Materials/RDSB.L"}, 
				{label: "IMB.L", value: "Consumer Goods/IMB.L"}, 
				{label: "LLOY.L", value: "Financial/LLOY.L"}, 
				{label: "CPI.L", value: "Services/CPI.L"}, 
				{label: "SMIN.L", value: "Industrial Goods/SMIN.L"}, 
				{label: "HIK.L", value: "Healthcare/HIK.L"}, 
				{label: "LGEN.L", value: "Financial/LGEN.L"}, 
				{label: "MRW.L", value: "Consumer Goods/MRW.L"}, 
				{label: "CPG.L", value: "Services/CPG.L"}, 
				{label: "RB.L", value: "Consumer Goods/RB.L"}, 
				{label: "INF.L", value: "Other/INF.L"}, 
				{label: "VOD.L", value: "Technology/VOD.L"}, 
				{label: "REL.L", value: "Services/REL.L"}, 
				{label: "PSON.L", value: "Services/PSON.L"}, 
				{label: "BARC.L", value: "Financial/BARC.L"}, 
				{label: "GLEN.L", value: "Basic Materials/GLEN.L"}, 
				{label: "GSK.L", value: "Healthcare/GSK.L"}, 
				{label: "DCC.L", value: "Financial/DCC.L"}, 
				{label: "BLT.L", value: "Basic Materials/BLT.L"}, 
				{label: "SN.L", value: "Healthcare/SN.L"}, 
				{label: "WPG.L", value: "Services/WPG.L"}, 
				{label: "TUI.L", value: "Other/TUI.L"}, 
				{label: "HL.L", value: "Financial/HL.L"}, 
				{label: "CCL.L", value: "Consumer Goods/CCL.L"}, 
				{label: "BAB.L", value: "Industrial Goods/BAB.L"}, 
				{label: "IHG.L", value: "Services/IHG.L"}, 
				{label: "INTU.L", value: "Other/INTU.L"}, 
				{label: "ANTO.L", value: "Basic Materials/ANTO.L"}, 
				{label: "AZN.L", value: "Healthcare/AZN.L"}, 
				{label: "UU.L", value: "Utilities/UU.L"}, 
				{label: "SGE.L", value: "Technology/SGE.L"}, 
				{label: "WTB.L", value: "Services/WTB.L"}, 
				{label: "EXPN.L", value: "Services/EXPN.L"}, 
				{label: "RR.L", value: "Industrial Goods/RR.L"}, 
				{label: "ABF.L", value: "Consumer Goods/ABF.L"}, 
				{label: "CRDA.L", value: "Industrial Goods/CRDA.L"}, 
				{label: "BP.L", value: "Basic Materials/BP.L"}, 
				{label: "MDC.L", value: "Healthcare/MDC.L"}, 
				{label: "PFG.L", value: "Financial/PFG.L"}, 
				{label: "NXT.L", value: "Consumer Goods/NXT.L"}, 
				{label: "HMSO.L", value: "Financial/HMSO.L"}, 
				{label: "OML.L", value: "Financial/OML.L"}, 
				{label: "SKG.L", value: "Industrial Goods/SKG.L"}, 
				{label: "CCH.L", value: "Consumer Goods/CCH.L"}, 
				{label: "TSCO.L", value: "Consumer Goods/TSCO.L"}, 
				{label: "BNZL.L", value: "Services/BNZL.L"}, 
				{label: "BA.L", value: "Industrial Goods/BA.L"}, 
				{label: "BATS.L", value: "Consumer Goods/BATS.L"}, 
				{label: "AV.L", value: "Financial/AV.L"}, 
				{label: "MERL.L", value: "Other/MERL.L"}, 
				{label: "RIO.L", value: "Basic Materials/RIO.L"}, 
				{label: "BT.A.L", value: "Technology/BT.A.L"}, 
				{label: "SBRY.L", value: "Consumer Goods/SBRY.L"}, 
				{label: "STAN.L", value: "Financial/STAN.L"}, 
				{label: "WOS.L", value: "Industrial Goods/WOS.L"}, 
				{label: "TW.L", value: "Industrial Goods/TW.L"}, 
				{label: "MCRO.L", value: "Technology/MCRO.L"}, 
				{label: "DGE.L", value: "Consumer Goods/DGE.L"}, 
				{label: "RBS.L", value: "Financial/RBS.L"}, 
				{label: "CTEC.L", value: "Healthcare/CTEC.L"}, 
				{label: "LAND.L", value: "Financial/LAND.L"}, 
				{label: "MKS.L", value: "Consumer Goods/MKS.L"}, 
				{label: "KGF.L", value: "Services/KGF.L"}, 
				{label: "RMG.L", value: "Services/RMG.L"}, 
				{label: "BLND.L", value: "Financial/BLND.L"}, 
				{label: "Basic Materials", value: "Basic Materials"}, 
				{label: "Consumer Goods ", value: "Consumer Goods "}, 
				{label: "Financial", value: "Financial"}, 
				{label: "Healthcare", value: "Healthcare"}, 
				{label: "Industrial Goods", value: "Industrial Goods"}, 
				{label: "Other", value: "Other"}, 
				{label: "Services", value: "Services"}, 
				{label: "Technology", value: "Technology"}, 
				{label: "Utilities", value: "Utilities"} 
				]
	});
</script>