<!DOCTYPE html>
<html>
	<head>
		<title>Stocks Page</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'stocks/sticky-footer.css' %}" />
		<script type="text/javascript" src="{% static 'stocks/boottree.js' %}"></script>
		<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.6/js/jquery.fancybox.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.6/css/jquery.fancybox.min.css">

		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">


	</head>
	<body>
		{% include "stocks/header.html" %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="alerts"></div>
						</div>
					</div>
				</div>
			</div>

			{% if success %}
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-default">
						<div class="panel-body">
							<div><i class="fa fa-check"></i> Your file has been uploaded and is being dealt with in background.</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<ol class="breadcrumb">
						{% if alert %}
						<a href="/">Home</a> / <a href="/alerts/">Alerts</a> / {{ alert.id }}
						{% else %}
						{% if stockName or alertsList %}
						
					<li><a href="../">Home</a></li>
						{% else %}
						<li><a href="./">Home</a></li>
						{% endif %}
						{% if sectorName %}
					<li><a href="./">{{ sectorName }}</a></li>
						{% endif %}
						{% if stockName %}
							<li class="active">{{ stockName }}</li>
						{% endif %}
						{% if alertsList %}
							<li class="active">Alerts</li>
						{% endif %}
						{% endif %}
					</ol>
				</div>
			</div>
			{% if index %}
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Upload a CSV file</h2>
							<form action="" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input class="btn btn-default" type="file" name="csv_file" /><br/>
								<input class="btn btn-default" type="submit" value="Upload" />
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endif %}

			{% if alertsList %}

				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="panel panel-default">
							<div class="panel-body">
								<h2>New alerts</h2>
								<ul>
								{% if alertsList|length > 0 %}
									{% for row in alertsList %}
										<li><a href="/alert/{{ row.id }}/">#{{ row.id }}: {{ row.anomaly }} alert on {{ row.symbol }}{% if row.sector != "" %},{% endif %} {{ row.sector }}, at {{ row.occur_date }}</a></li>
									{% endfor %}
								{% else %}
									<li>No new alerts available.</li>
								{% endif %}
								</ul>

								<h2>Previous alerts</h2>
								<ul>
								{% if prevSerious|length > 0 %}
									{% for row in prevSerious %}
										<li><a href="/alert/{{ row.id }}/">{{ row.anomaly }} alert #{{ row.id }} on {{ row.symbol }}, {{ row.sector }}, at {{ row.occur_date }}</a></li>
									{% endfor %}
								{% else %}
									<li>No alerts available.</li>
								{% endif %}
								</ul>

								<h2>Previous false alarms</h2>
								<ul>
								{% if prevFalse|length > 0 %}
									{% for row in prevFalse %}
										<li><a href="/alert/{{ row.id }}/">{{ row.anomaly }} alert #{{ row.id }} on {{ row.symbol }}, {{ row.sector }}, at {{ row.occur_date }}</a></li>
									{% endfor %}
								{% else %}
									<li>No false alarms registered.</li>
								{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>

			{% elif alert %}
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="panel panel-default">
							<div class="panel-body">
							<h2>Alert #{{ alert.id }}</h2>
							{% if alert.symbol %}<h4>Company: <a href="/{{ alert.sector }}/{{ alert.symbol }}/">{{ alert.symbol }}</a></h4>{% endif %}
							{% if alert.sector %}<h4>Sector: {{ alert.sector }}</h4>{% endif %}
							<h4>Anomaly: {{ alert.anomaly }}</h4>
							<h4>Current status: 
							{% if alert.resolved == False %}
								New
							{% elif alert.false_alarm %}
								False alarm
							{% else %}
								Resolved
							{% endif %}</h4>
							{% if alert.trade %}
								<hr/>
									<h4>Trade causing the alert:</h4>
									{{ alert.trade }}
								<hr/>
								{% if market.update_date %}
								<ul>
									<li>Expected average price: {{ market.price_avg }}</li>
									<li>Expected price standard deviation: {{ market.price_stddev }}</li>
									<li>Actual price: {{ alert.trade.price }}, bid: {{ alert.trade.bid }}, ask: {{ alert.trade.ask }}</li>
									<li>Expected average volume: {{ market.size_avg }}</li>
									<li>Expected volume standard deviation: {{ market.price_stddev }}</li>
									<li>Actual volume: {{ alert.trade.size }}</li>
								</ul>
								<hr/>
								{% endif %}
							{% endif %}
							<form id="mark" action="" method="post">
								<input type="hidden" name="solution" id="solution"/>
							{% csrf_token %}
							{% if alert.resolved == False %}
								<p><button id="resolve" class="btn btn-success">Mark as resolved</button> <button id="falsealarm" class="btn btn-danger">Mark as false alarm</button></p>
							{% else %}
								<p><button id="unresolve" class="btn btn-warning">Mark as new</button></p>
							{% endif %}
							</form>
							</div>
						</div>
					</div>
				</div>
			{% else %}

				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="panel panel-default">
							<div class="panel-body">
								<h2>{{ stockName }}</h2>
								{% if chart %}
								<h3>{{ sectorName }}</h3>
								<ul>
									<li>Data below is based on statistics gathered before {{ hist }}</li>
									<li>Total trades registered: {{ count }}</li>
									<li>Last recorded average price: {{ price }}</li>
									<li>Last recorded average volume: {{ volume }}</li>
								</ul>
								<hr/>
								<form id="past" method="post" action="">
									{% csrf_token %}
									Select a date to show details about {{ stockName }} based on older statistics:
									<input type="hidden" name="symbol" value="{{ stockName }}" required/>
									<input type="text" class="form-control" name="hist" id="datepicker_past" required/><br/><input class="btn btn-primary" type="submit"/>
								</form>
								<hr/>
								<img src="data:image/png;base64,{{chart|safe}}">
								<hr/>
								<h2>Predict future stock price</h2>
								<form id="predict" method="post" action="/ajax/predict">
									{% csrf_token %}
									Select a date in the future to predict the price:
									<input type="hidden" name="symbol" value="{{ stockName }}" required/>
									<input type="hidden" name="hist" value="{{ hist }}"/>
									<input type="text" class="form-control" name="date" id="datepicker" required/><br/><input class="btn btn-primary" type="submit"/>
									<p id="predict_result"></p>
								</form>
								<hr/>
								<h2>Releated alerts</h2>
								<ul>
									{% if releated_alerts|length > 0 %}
										{% for row in releated_alerts %}
											<li><a href="/alert/{{ row.id }}">{{ row.anomaly }} alert #{{ row.id }} on {{ row.symbol }}, {{ row.sector }}, at {{ row.occur_date }}</a></li>
										{% endfor %}
									{% else %}
										<li>No releated alerts.</li>
									{% endif %}
								</ul>
								<hr/>
								{% endif %}
								{% if latest_stock_list %}
								{% else %}
								<p>No stocks are available</p>
								{% endif %}
								{% for row in latest_stock_list %}
								{% if sectorName %}
									{% if forloop.counter == 1 %}
										<h2>Last available trades for {{ row.symbol }}</h2>
										<table id="stockstable">
										<thead><th>Date</th><th>Seller</th><th>Buyer</th><th>Price</th><th>Volume</th><th>Bid</th><th>Ask</th></thead>
										<tfoot><th>Date</th><th>Seller</th><th>Buyer</th><th>Price</th><th>Volume</th><th>Bid</th><th>Ask</th></tfoot>
										<tbody>
									{% endif %}
								<tr>
									<td>{{ row.trade_time }}</td>
									<td>{{ row.seller }}</td>
									<td>{{ row.buyer }}</td>
									<td>{{ row.price }}</td>
									<td>{{ row.size }}</td>
									<td>{{ row.bid }}</td>
									<td>{{ row.ask }}</td>
								</tr>
								{% else %}
									{% if forloop.counter == 1 %}
										<ul>
									{% endif %}
								<li><a href="{{ row }}">{{ row }}</a></li>
								{% endif %}
								{% endfor %}
							{% if sectorName %}</tbody></table>{% else %}</ul>{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<script>
			var length;
			$(document).ready(function() {

				$('#stockstable').DataTable();

				$("#resolve").on('click', function() {
					$("#solution").val('resolve');
					$(this).parent().submit();
				})

				$("#unresolve").on('click', function() {
					$("#solution").val('unresolve');
					//$(this).parent().submit();
				})

				$("#falsealarm").on('click', function() {
					$("#solution").val('falsealarm');
					$(this).parent().submit();
				})

				$("#predict").submit(function(e)
				{
					var postData = $(this).serializeArray();
					var formURL = $(this).attr("action");
					$.ajax(
					{
						url : formURL,
						type: "POST",
						data : postData,
						success:function(data, textStatus, jqXHR) 
						{
							$("#predict_result").html("Predicted average price: " + data);
						},
						error: function(jqXHR, textStatus, errorThrown) 
						{
							//if fails      
						}
					});
					e.preventDefault(); //STOP default action
				});

				$( "#datepicker" ).datepicker({ minDate: "+1D", maxDate: "+1Y", dateFormat: "dd/mm/yy" });
				$( "#datepicker_past" ).datepicker({ maxDate: "0", dateFormat: "dd/mm/yy" });

				$.getJSON( "/ajax/alerts", function( data ) {
					length = data.length;
					if (data.length == 0) 
						$("#alerts").html("<i class='fa fa-check' aria-hidden='true'></i> <a href='/alerts/'>There are no new alerts</a>");
					else if (data.length == 1)
						$("#alerts").html("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <a class='imp' href='/alerts/'>There is one new alert</a>");
					else if (data.length > 1)
						$("#alerts").html("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <a class='imp' href='/alerts/'>There are " + data.length + " new alerts!</a>");
				}).done(function() {
					setInterval(function() {
						$.getJSON( "/ajax/alerts", function( data ) {
							if (data.length > length) {
								length = data.length;
								// console.log("data: " + data.length + " length: " + length);
								$.playSound("/static/stocks/the-calling");
								$("body").append("<div id='dialog' title='Warning!'><i class='fa fa-exclamation-triangle'></i> There are new alerts in the system. Click <a target='_blank' href='/alerts'>here</a> to check them.</div>");
								$('#dialog').dialog({
									show: {
        								effect: "scale",
        								duration: 300
      								},
								    hide: {
								    	effect: "scale",
										duration: 300
								    }
								});
								if (data.length == 0) 
									$("#alerts").html("<i class='fa fa-check' aria-hidden='true'></i> <a href='/alerts/'>There are no new alerts</a>");
								else if (data.length == 1)
									$("#alerts").html("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <a class='imp' href='/alerts/'>There is one new alert</a>");
								else if (data.length > 1)
									$("#alerts").html("<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> <a class='imp' href='/alerts/'>There are " + data.length + " new alerts!</a>");
							}
						});
					}, 8000);
				});
			});
		</script>
		{% include "stocks/footer.html" %}
	</body>
</html>
